main{
    width: 100%;
    height: 950px;
}

main .container{
    max-width: 1400px;
    margin: 80px auto;
    height: 650px;
    display: flex;
}

main .container .filme{
    background-size: cover;
    background-position: center;
    height: 100%;
    margin: 0 10px;
    border-radius: 5%;
    flex-grow: 1;
    transition: 2s ease;
    display: flex;
}

main .container .filme:hover{
    flex-grow: 3;
    filter: brightness(150%);
}

main .container .filme:hover .link a{
    display: block;
}


main .container .filme .link{
    width: 45%;
    display: flex;
    align-items: end;
}

main .container .filme .link a{
    font-size: 34px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: 0 0 20px 25px;
    display: none;
}

main .container .filme:nth-of-type(3) .link a{
    font-size: 34px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 0 0 20px 25px;
}

main .container .filme:nth-of-type(4) .link a{
    font-size: 34px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 0 0 20px 25px;
}

@media screen and (max-width : 900px){

    body{
        overflow-x: hidden;
        background-size: cover;
    }

    header .header-links ul {
        flex-direction: column;
        align-items: end;
        margin-right: 30%;
    }

    main .container{
        flex-direction: column;
        height: 900px;
        width: 90vw;
    }

    main .container .filme{
        margin: 40px;
        flex-grow: 1;
        min-height: 400px;
    }

    main .container .filme:hover{
        margin: 40px;
        flex-grow: 1;
    }

    main .container .filme .link a{
        display: block;
    }
}